header{
  width: 100%;
  background: darkgrey;
  height: 100px;
}
main{
  height: 80%;
  background-color: lightcyan;
  display: flex;
}
.WHATS{
  width: 30px;
  height: 30px;
}
.face{
  width: 30px;
  height: 30px;
}

.insta{
  width: 30px;
  height: 30px;
}
.logo{
  height: 50px;
  width: 50px;
}
.Logo-nnova{
  height: 40px;
  width: 40px;
}
.card{

  margin: 10px;

}
