html{
  scroll-behavior: smooth;
}

header{
  margin-right: -15px;

   width: 100%;
   height: 80%;
}
.navbar-light .navbar-toggler{
  border-color: white;
}
.navbar-light .navbar-toggler-icon {
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1)rgba%280, 665, 299, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
footer{
  background: rgba(235,178,99,.21);
}
main{
  width: auto;
  height: 20%;
  position: static;


  margin-left: -15px;


}

.botonn{
  transition: background-color .9s;

}
.botonn:hover{
  background-color: rgba(27,144,175,1);
}

.WHATS{
  width: 30px;
  height: 30px;
  transition: .3s;
  fill:rgba(255,255,255,1);
}
.WHATS:hover{
  fill:rgba(41,219,42,.65);
}
.face{
  width: 30px;
  height: 30px;
  transition: .3s;
  fill:rgba(255,255,255,1);


}
.face:hover {
  fill:rgba(15,119,227,.59)
}


.insta{
  width: 30px;
  height: 30px;
  transition: .3s;
  fill:rgba(255,255,255,1);
}
.insta:hover{
  fill: #d6249f;
}
.Logo{
  height: 80px;
  width: 180px;
  transition: .6s;
}
.Logo:hover{
  fill: rgba(34,14,5,.48);
}
.mat{
  width: 20px;
  height: 30px;

}
.tres:hover{
  color: rgba(170,210,28,1)
}

.card{
  position: unset;

  margin-top:15px;
  margin-left: 10px;
  margin-right: 10px;

}

.video1{
  height: 286px;
  width: 286px;
}
.navbar-light .navbar-nav .nav-link{
  color:rgba(255,255,255,.64);
}


.perri{
  position: static;
  transition: .9s;
}
.perri:hover {
  filter: brightness(40%);
}
.hola{
  height: 200px;
}
.chico{
  height: 268px;
  width: 268px;
}
.imagen{
  transition: .5s;
}
.imagen:hover{
  color: coral;
  background-color: rgba(235,114,47,.57);
}
html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation: slide 6s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #E34C14 40%, #09f 70%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-10;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}



@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
.macet{
  font-size: 20px;
  background-color:rgba(255,255,255,.07);
  position: sticky;
  display: flex;
  justify-content: center;
}
.macet:hover {
  color: rgba(255,84,0,1);


}
